<section class="register-thought">
    <div class="header">

        <div class="title">
            <h2>Editar Pensamento:</h2>
        </div>

        <div class="form">
            <form action="/thoughts/update/{{ thought.id }}" method="POST">
                <div class="form-field">
                    <label for="title">Título:</label>
                    <input type="text" name="title" placeholder="{{ thought.title }}">
                </div>

                <div class="form-field">
                    <label for="description">Descrição:</label>
                    <input type="text" name="description" placeholder="{{ thought.description }}">
                </div>

                <div class="form-button">
                    <button type="submit">Editar Pensamento</button>
                </div>
            </form>
        </div>
    </div>
</section>