  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #1c1b1b;
    display: flex;
    flex-direction: column;
    min-height: auto;
}

main{
    flex: 1;
}

footer {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10rem;
    border-top: 2px solid #e4f1ff;
    padding: 16px;
}

footer p {
    text-align: center;
}