<section class="dashboard">
    <div class="header">
        <h2 class="title">Dashboard</h2>
    </div>

    <div class="button-create">
        <a href="/thoughts-create">Criar Pensamento</a>
    </div>

    <div class="content">
        <div class="subtitle">
            <p>Seus pensamentos:</p>
        </div>
        {{#each thoughts}}
            <div class="thoughts-list">
                <p>{{ this.title }}</p>
                <p>{{ this.description }}</p>

                <div class="buttons">
                    <a href="/thoughts/edit/{{ this.id }}">Editar</a>
                    <form action="/thoughts/remove/{{ this.id }}" method="POST">
                        <button type="submit">Excluir</button>
                    </form>
                </div>
            </div>
        {{/each}}
    </div>
</section>