<div class="navbar">

    <div class="logo">
        <img src="/img/4728251 1.png" alt="">
    </div>

    <div class="menu">

        <ul>
            <li><a href="">Pensamentos</a></li>
            <li><a href="">Entrar</a></li>
            <li><a href="">Registrar</a></li>
        </ul>

    </div>
</div>