.register-thought {
    display: grid;
    grid-template-rows: 120px 120px;
    grid-template-columns: 1140px;

    justify-content: space-around;
}

.register-thought .header {
    padding: 32px 0;
}

.title h2 {
    color: white;
    font-size: 32px;
    
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .title h2::before {
    content: "";
    height: 32px;
    width: 3px;
    background-color: #068fff;
    display: block;
}

.register-thought .form form .form-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    padding-bottom: 24px;
}

.form form label {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.form-field input {
    background: none;
    border: 2px solid #e4f1ff;
    padding: 8px;

    font-size: 16px;
    color: #e4f1ff;

    outline: none;
}

.form-button {
    padding: 12px 0;
}

.form-button button {
    background-color: none;
    border: 2px solid #068fff;
    padding: 12px 16px;

    color: #068fff;
    font-size: 16px;
    font-weight: bold;

    cursor: pointer;
}

.form-button button:hover {
    background-color: #068fff;
    color: white;
}